#popup{
  position:fixed;
  left:50%;
}
#popup #wrapper{
  position:relative; 
  left:-50%;
}
.square {
    background: #A37547;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}
table {

}